@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    background: linear-gradient(45deg, #02475E, #687980, #F3BDA1, #FEFECC);
    background-size: 250%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif; 
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    color: white;
    height: 20vh;
    margin: 0px;
   /*background-color: yellow;*/
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
}
#containerFomrulario{
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}
p{
    margin: 0px;
    margin-left: 8px;
    font-size: 15px;
}
ul{
    padding-left: 0px;
    margin-top: 10px;
}
#Formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#name{
    border: 0px;
    margin: 5px;
    height: 4vh;
    width: 30vh;
}
#img{
    border: 0px;
    margin: 5px;
    height: 4vh;
    width: 20vh;
}
#Titulos{
    border: 0px;
    margin: 5px;
    height: 4vh;
    width: 30vh;
}
#Jogador{
    border: 0px;
    margin: 5px;
    height: 4vh;
    width: 30vh;
}
#Botao{
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 18px;
    background-color:#02475E;
    color: white;
    border-radius: 7px;
    margin-left: 15px;
    height: 5vh;
    width: 20vh;
    justify-content: center;
    text-align: center;
}
li{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    height: 15vh;
    width: 190vh;
}
section{
    height: 40vh;
    width: 192vh;
    overflow: auto;
}
#lista{
    width: 190vh;
}
#divpai{
   background-color: black;
    width: 190vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
#div1{
    background-color: antiquewhite;
    width: 45vh;
    margin-right: 1px;
    display: flex;
    justify-content: center;
}
#div2{
    background-color: antiquewhite;
    width: 45vh;
    margin-right: 1px;
    display: flex;
    justify-content: center;
}
#div3{
    background-color: antiquewhite;
    width: 46vh;
    margin-right: 1px;
    display: flex;
    justify-content: center;
}
#div4{
    background-color: antiquewhite;
    width: 45vh;
    margin-right: 1px;
    display: flex;
    justify-content: center;
}
#div5{
    background-color: antiquewhite;
    width: 12vh;
    display: flex;
    justify-content: center;
}
button{
    margin-left: 15px;
    margin-right: 8px;
    width: 10vh;
    height: 4vh;
    border-radius: 5px;
    background-color: darkred;
    color: white;
}
footer{
    text-align: center;
    color: white;
    flex-wrap: wrap;
    height: 10vh;
    margin: 0px;
}
img {
    margin-left: 120px;
    margin-right: 120px;
    height: 100px;
    width: 100px;
}
#Nome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43vh;
    margin-left: 30px;
}
#titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vh;
    margin-left: 25px;
}
#jogador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42vh;
    margin-left: 30px;
    margin-right: 10px;
}
#logo1{
    margin-top: 13px;
    width: 40vh;
    height: 15vh;
}
#logo2{
    margin-top: 15px;
    width: 30vh;
    height: 10vh;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}

